.complexipy_cache
.coverage
.mypy_cache
.ruff_cache
.DS_Store
__pycache__
algorithms/.classpath
algorithms/.project
algorithms/.settings
algorithms/bin
algorithms/coverage.opencover.xml
algorithms/obj
algorithms/report.txt
algorithms/target
coverage.txt
coverage.xml
lcov.info
mod.rs
target*
Cargo.lock
